@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans&family=PT+Sans&display=swap');

body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Noto Sans  JP', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  font-style: italic; */
  font: italic 700 18px/1.6 'Noto Sans JP', sans-serif;
}
